.games {
	display: flex;
	flex-direction: column;
	padding: $general-padding;
	&__no-game {
		font-size: 3rem;
		margin-top: 5rem;
		text-align: center;
		color: rgb(239, 202, 176);
		line-height: 1.5;
		mix-blend-mode: overlay;
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			letter-spacing: -3px;
		}
	}
}

%game__details__p {
	padding: 0.25rem;
	font-size: 1.2rem;
	box-shadow: $box-shadow-to-bottom--small;
	background: $shamrock-green;
	display: flex;
	margin: $general-padding/4 0;
	text-align: center;
	color: #fff;
	justify-content: center;
	text-shadow: $text-shadow-to-bottom--small;
}

.game {
	display: flex;
	padding: $general-padding*2 $general-padding;
	margin-bottom: 1rem;
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: $box-shadow-to-bottom--small;
	&__details {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		font-size: 0.9rem;
		width: 100px;
		line-height: 1.5;
		text-align: center;
		margin-left: 1rem;
	}
	&__day {
		@extend %game__details__p;
		font-size: 0.8rem;

	}
	&__time {
		@extend %game__details__p;
		font-family: $font-family-second;
	}
	&__series {
		@extend %game__details__p;
		font-size: 0.8rem;
	}
	&__info {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		margin: 0;
	}
	&__vs {
		align-items: center;
		display: flex;
		width: 60px;
		margin: 0 1rem;
	}
	&__vs-image {
		width: 100%;
		opacity: 0.4;
		padding: $general-padding/2;
	}
	&__today {
		position: absolute;
		padding: 0.5rem;
		top: $general-padding;
		left: $general-padding;
		font-size: 0.7rem;
		background: $yellow;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotate(-45deg);
		box-shadow: -3px 3px 0px -1px rgba(0,0,0,0.15);
		color: #fff;
		text-shadow: $text-shadow-to-bottom--small;
	}
}

.team {
	display: flex;
	flex-direction: column;
	text-align: center;
	&__logo {
		flex-grow: 1;
		position: relative;
		width: 130px;
		height: 130px;
		max-height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__img {
		max-width: 100%;
		max-height: 100%;
		-webkit-filter: drop-shadow(0px 7px 0px rgba(0,0,0,0.25));
		-moz-filter: drop-shadow(0px 7px 0px rgba(0,0,0,0.25));
	}
	&__name {
		margin-top: 1.4rem;
		font-family: Iran;
		text-shadow: $text-shadow-to-bottom--small;
		font-size: 1.2rem;
	}
}
