main {
	display: flex;
	min-height: 100%;
	background-image: linear-gradient(to left, hsl(40, 100%, 60%) 0%, hsl(21, 100%, 70%) 100%);
	color: $black;
}
.channel {
	width: 50%;
	min-height: 100%;
	&:first-child {
		border-left: 3px dashed rgba(255, 255, 255, 0.19);
	}
	&__logo {
		height: 130px;
		padding: $general-padding 2rem;
		display: flex;
	}
	&__img {
		height: 100px;
		width: 100px;
		padding: 1rem;
		background: #fff;
		border-radius: 150px;
		border: 3px solid rgb(254, 152, 8);
		box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.1);
	}
}