main {
	display: flex;
	min-height: 100%;
	background-image: linear-gradient(to bottom, #FEB508 10%, #FFAC33 45%);
	color: $black;
}
.channel {
	width: 50%;
	min-height: 100%;
	&:first-child {
		border-left: 3px dashed rgba(255, 255, 255, 0.19);
	}
	&__logo {
		height: 130px;
		padding: $general-padding 2rem;
		display: flex;
	}
	&__img {
		height: 100px;
		width: 100px;
		padding: 1rem;
		background: #fff;
		border-radius: 30%;
		box-shadow: $channels-image-box-shadow;
	}
	&__name {
		font-size: 40px;
		display: flex;
		align-items: center;
		margin-right: 1rem;
		color: rgb(255, 255, 255);
		text-shadow: $channels-text-box-shadow;
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			letter-spacing: -3px;
		}
	}
}
